.about{
  background-image: url(../../assets/images/bg_5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  color: white;
}
.menu_list {
  list-style-type: none;
  padding: 0px!important;
}
.menu_list li a:hover{
  color: #e52b34;
}
.menu_list a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.my_img {
  width: 350px;
  height: 450px;
}
.my_img img{
  width: 90%;
  height: 100%;
}

