<!--Jumbotron-->
<div class="about d-flex flex-column align-items-center justify-content-end">
  <h1>ABOUT</h1>
  <ul class="menu_list d-flex">
    <li><a routerLink="/home">Home > </a></li>
    <li><a routerLink="/about">&nbsp;About</a></li>
  </ul>
</div>

<!--About-->
<div class="d-flex about_us">
  <div class="d-flex justify-content-center ps-5">
    <div class="my_img ms-5">
      <img src="../../assets/images/bg_4.jpg" alt="" />
    </div>
    <div class="my_img">
      <img src="../../assets/images/bg_6.jpg" alt="" />
    </div>
  </div>
  <div class="pe-5 me-5 pt-4 mt-5">
    <span class="sub_title ps-2">This is our secrets</span>
    <h1 class="title">Perfect Ingredients</h1><br>
    <p class="my_text">
      Far far away, behind the word mountains, far from the countries Vokalia
      and Consonantia, there live the blind texts. Separated they live in
      Bookmarksgrove right at the coast of the Semantics, a large language
      ocean.
    </p> <br>
    <button class="my_btn">Learn More</button>
  </div>
</div>
