<!--Jumbotron-->
<div class="about d-flex flex-column align-items-center justify-content-end">
  <h2>MASTER CHEF</h2>
  <ul class="menu_list d-flex">
    <li><a routerLink="/home">Home ></a></li>
    <li><a routerLink="/chef">&nbsp;Chef</a></li>
  </ul>
</div>

<!--Chef-->
<div class="container ps-5 pe-5">
  <div class="row">
    <span class="sub_title pt-5">Chef</span>
    <h1 class="title pt-1">Our Master Chef</h1>
    <br />
    <div class="col-lg-3 pt-5 pb-5">
      <div class="my_card">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="assets/images/chef-4.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-header class="pb-3">
            <mat-card-title>John Gustavo</mat-card-title>
            <mat-card-subtitle>CEO, Co Founder</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              I am an ambitious workaholic, but apart from that, pretty simple
              person.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-lg-3 pt-5 pb-5">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="assets/images/chef-2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-header class="pb-3">
          <mat-card-title>Michelle Fraulen</mat-card-title>
          <mat-card-subtitle>Head Chef</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            I am an ambitious workaholic, but apart from that, pretty simple
            person.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3 pt-5 pb-5">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="assets/images/chef-3.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-header class="pb-3">
          <mat-card-title>Alfred Smith</mat-card-title>
          <mat-card-subtitle>Chef Cook</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            I am an ambitious workaholic, but apart from that, pretty simple
            person.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3 pt-5 pb-5">
      <div class="my_card">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="assets/images/chef-1.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-header class="pb-3">
            <mat-card-title>Antonio Santibanez</mat-card-title>
            <mat-card-subtitle>Chef Cook</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              I am an ambitious workaholic, but apart from that, pretty simple
              person.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="container ps-5 pe-5">
  <div class="row">
    <div class="col-lg-3 pb-5">
      <div class="my_card">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="assets/images/chef-4.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-header class="pb-3">
            <mat-card-title>John Gustavo</mat-card-title>
            <mat-card-subtitle>CEO, Co Founder</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              I am an ambitious workaholic, but apart from that, pretty simple
              person.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-lg-3 pb-5">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="assets/images/chef-2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-header class="pb-3">
          <mat-card-title>Michelle Fraulen</mat-card-title>
          <mat-card-subtitle>Head Chef</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            I am an ambitious workaholic, but apart from that, pretty simple
            person.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3 pb-5">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="assets/images/chef-3.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-header class="pb-3">
          <mat-card-title>Alfred Smith</mat-card-title>
          <mat-card-subtitle>Chef Cook</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            I am an ambitious workaholic, but apart from that, pretty simple
            person.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3 pb-5">
      <div class="my_card">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="assets/images/chef-1.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-header class="pb-3">
            <mat-card-title>Antonio Santibanez</mat-card-title>
            <mat-card-subtitle>Chef Cook</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              I am an ambitious workaholic, but apart from that, pretty simple
              person.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
