<!--Jumbotron-->
<div class="about d-flex flex-column align-items-center justify-content-end">
  <h2>BLOG</h2>
  <ul class="menu_list d-flex">
    <li><a routerLink="/home">Home ></a></li>
    <li><a routerLink="/blog">&nbsp;Blog</a></li>
  </ul>
</div>


<!--Blog-->
<div class="container ps-5 pe-5 pt-5">
  <div class="row">
    <div class="col-lg-4 pt-5 pb-5">
      <div class="my_card">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="../../assets/images/plate.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-header class="pb-3">
            <mat-card-subtitle>June 12, 2023 ADMIN</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h3>
              Even the all-powerful Pointing has no control about the blind texts
            </h3>
          </mat-card-content>
          <mat-card-actions>
            <button class="my_btn ms-2 mt-3 mb-3" routerLink="/blog-detail">Read More</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="col-lg-4 pt-5 pb-5">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="../../assets/images/image_2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-header class="pb-3">
          <mat-card-subtitle>June 12, 2023 ADMIN</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h3>
            Even the all-powerful Pointing has no control about the blind texts
          </h3>
        </mat-card-content>
        <mat-card-actions>
          <button class="my_btn ms-2 mt-3 mb-3">Read More</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-4 pt-5 pb-5">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="../../assets/images/image_3.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-header class="pb-3">
          <mat-card-subtitle>June 12, 2023 ADMIN</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h3>
            Even the all-powerful Pointing has no control about the blind texts
          </h3>
        </mat-card-content>
        <mat-card-actions>
          <button class="my_btn ms-2 mt-3 mb-3">Read More</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div class="container ps-5 pe-5">
  <div class="row">
    <div class="col-lg-4 pb-5">
      <div class="my_card">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="../../assets/images/image_4.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-header class="pb-3">
            <mat-card-subtitle>June 12, 2023 ADMIN</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h3>
              Even the all-powerful Pointing has no control about the blind texts
            </h3>
          </mat-card-content>
          <mat-card-actions>
            <button class="my_btn ms-2 mt-3 mb-3">Read More</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="col-lg-4 pb-5">
      <div class="my_card">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="../../assets/images/image_5.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-header class="pb-3">
            <mat-card-subtitle>June 12, 2023 ADMIN</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h3>
              Even the all-powerful Pointing has no control about the blind texts
            </h3>
          </mat-card-content>
          <mat-card-actions>
            <button class="my_btn ms-2 mt-3 mb-3">Read More</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="col-lg-4 pb-5">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="../../assets/images/image_6.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-header class="pb-3">
          <mat-card-subtitle>June 12, 2023 ADMIN</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h3>
            Even the all-powerful Pointing has no control about the blind texts
          </h3>
        </mat-card-content>
        <mat-card-actions>
          <button class="my_btn ms-2 mt-3 mb-3">Read More</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
